.container {
  max-width: 900px;
}

.text-condensed {
  letter-spacing: -1.5px;
}

.text-condensed-2 {
  letter-spacing: -1px;
}

.text-condensed-3 {
  letter-spacing: -0.5px;
}

.cursor-pointer {
  cursor: pointer;
}

.list-no-bullets {
  list-style: none;
}

.img-rounded {
  border-radius: 50%;
}
